<tr>
    <th><%= recept.id %></th>
    <th><%= recept.recipe %></th>
    <th>

        <ul>
            <% for(let ingredient in recept.ingredients) { %>
                <li> <%= ingredient %>: <%= recept.ingredients[ingredient] %> </li>
            <% } %>
        </ul>
    </th>
    <!-- Popravete go ova spored primerot pogore -->
    <th>
        <ol>
            <li><%= recept.method.firstStep %> </li>
            <li><%= recept.method.secondStep %> </li>
            <li><%= recept.method.thirdStep %> </li>
            <li><%= recept.method.forthStep %> </li>
            <li><%= recept.method.fifthStep %> </li>
        </ol>
    </th>